// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.display_letters {
  display: inline-block;
  background-color: #5D8BDA;
  border-radius: 3px;
  font-size: 30px;
  color: white;
  padding: 5px;

}

.text-center {
  text-align: center;
}

